[settings]

DEBUG=True

DJANGO_SECRET_KEY= ''

DJANGO_SUPERUSER_EMAIL=''
DJANGO_SUPERUSER_USERNAME=''
DJANGO_SUPERUSER_PASSWORD=''

POSTGRES_READY=False
POSTGRES_DB=docker_dc
POSTGRES_USER=postgres_user 
POSTGRES_PASSWORD=123456 
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5433

REDIS_HOST=redis_db
REDIS_PORT=6380

EMAIL_HOST=myhost
EMAIL_PORT=myport

WEBAPP_NODE_HOST=my_webapp_node_host
LOAD_BALANCER_HOST=my_load_balancer 

REGION=tehran